src/AniDb.Api/Data/ValidCategoryResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:element name="categorylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="category">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element minOccurs="0" name="description" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
            <xs:attribute name="ishentai" type="xs:boolean" use="required" />
            <xs:attribute name="parentid" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>